html {
	height: 100%;
}
body {
	min-height: 100%;
	font-family: "Moderustic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

header {
	display: flex;
	justify-content: center;
	padding: 5px 20px;
	align-items: center;
	height: 100px;
}

header h1 {
	text-transform: uppercase;
}

header nav a {
	text-decoration: none;
	color: black;
	padding-right: 20px;
}
#root {
	/* height: 80vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100%;
	text-align: center;
}

#root > div {
	width: 50%;
	border: 1px solid grey;
	border-radius: 15px;
	padding: 5px;
}

#root > div > * {
	padding-bottom: 20px;
}

#root div > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#root div > div button {
	width: 40%;
	margin: 1%;
	padding: 10px;
	border: 1px solif grey;
	border-radius: 10px;
}

#root div > div + div {
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}

#root div > div + div button {
	background: lightblue;
}

@media all and (max-width: 480px) {
	#root > div {
		width: 95%;
	}

	#root div > div button {
		width: 90%;
	}
}
